* {
    margin: 0;
    padding: 0;
}


.m-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67,67,67);
}

.m-form-container {
    max-height: 300px;
    max-width: 300px;
    background-color: rgb(217,217,217);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.h1-reusable {
    font-size: 4rem;
}

.m-input-container {
    display: flex;
    flex-direction: column;
}

.m-resuable-label {
    font-size: 22px;
}